.mainDiv{
    position: center;
    width: inherit;
    height: inherit;
}

.image{
    position: relative;
    width: inherit;
    height: inherit;
}
.catalogdiv{
    position: center;
    width: inherit;
    height: inherit;
}